.advantages {
  padding-top: 4rem;

  background-color: $color-bg-default;

  @media (min-width: $width-tablet) {
    padding-top: 5rem;
  }
}

.advantages__list {
  background-color: $color-primary;

  @media (max-width: 767px) {
    position: relative;

    padding-top: 3.7rem;

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 3.7rem;
      background-image: url("../img/bg-triangle.svg");

      content: "";
    }
  }

  @media (min-width: $width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 76.8rem;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    width: 120rem;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  &--short {
    @media (min-width: $width-tablet) {
      width: 25.6rem;
    }

    @media (min-width: $width-desktop) {
      width: 40rem;
    }
  }

  &--separator {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: calc(50% - 14rem);

      width: 28rem;
      height: 0.1rem;

      background-color: #d7d7d7;

      content: "";
    }
  }
}

.advantages__tagline {
  width: 26rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.8rem;

  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: center;

  @media (min-width: $width-tablet) {
    display: block;
    width: 14.96rem;
    margin-bottom: 0;

    font-size: 2.1rem;
  }

  @media (min-width: $width-desktop) {
    width: 120rem;
  }

  &--main {
    @media (min-width: $width-tablet) {
      width: 49rem;
      margin: 0 auto 2.9rem;

      font-size: 2.1rem;
    }

    @media (min-width: $width-desktop) {
      width: 120rem;
    }
  }
}

.advantages__text {
  width: 26rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.4rem;

  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: center;

  @media (min-width: $width-tablet) {
    width: 49rem;
    margin: 0 auto 4.9rem;
  }

  @media (min-width: $width-desktop) {
    width: 120rem;
  }
}

.advantages__detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;

  background-color: $color-bg-default;

  @media (min-width: $width-tablet) {
    width: 25.6rem;
    align-items: center;
    padding-bottom: 6.2rem;

    text-align: center;
  }

  @media (min-width: $width-desktop) {
    width: 40rem;
  }

  &:last-of-type {
    padding-bottom: 4.2rem;

    @media (min-width: $width-tablet) {
      padding-bottom: 6.2rem;
    }
  }
}

.advantages__detail-tagline {
  position: relative;

  width: 21rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  margin-left: 7rem;

  font-size: 1.8rem;
  line-height: 2.6rem;

  @media (min-width: $width-tablet) {
    margin: 16rem 0 2rem;
    width: 16.5rem;

    font-size: 2.1rem;
  }

  &--house::before {
    position: absolute;

    display: block;
    width: 3.6rem;
    height: 3.7rem;
    top: -0.7rem;
    left: -4.7rem;

    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-size: 3.6rem 3.7rem;
    background-position: center;

    content: "";

    @media (min-width: $width-tablet) {
      top: -10rem;
      left: 4.5rem;

      width: 7.5rem;
      height: 7.2rem;

      background-size: 7.5rem 7.2rem;
    }
  }

  &--gift::before {
    position: absolute;

    display: block;
    width: 3.2rem;
    height: 3.8rem;
    top: -1rem;
    left: -4.6rem;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 3.2rem 3.8rem;
    background-position: center;

    content: "";

    @media (min-width: $width-tablet) {
      top: -10.3rem;
      left: 5rem;

      width: 6.4rem;
      height: 7.5rem;

      background-size: 6.4rem 7.5rem;
    }
  }

  &--burger::before {
    position: absolute;

    display: block;
    width: 4rem;
    height: 3.5rem;
    top: -0.6rem;
    left: -5.2rem;

    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 4rem 3.5rem;
    background-position: center;

    content: "";

    @media (min-width: $width-tablet) {
      top: -9.7rem;
      left: 4.3rem;

      width: 7.7rem;
      height: 6.8rem;

      background-size: 7.7rem 6.8rem;
    }
  }
}

.advantages__detail-text {
  width: 21rem;
  margin-left: 7rem;
  margin-bottom: -0.7rem;

  font-size: 1.4rem;
  line-height: 2.1rem;

  @media (min-width: $width-tablet) {
    margin: 0;
    width: 16.5rem;
  }
}

.advantages__keynote {
  display: block;
  padding-left: 2.8rem;
  padding-right: 2.8rem;

  text-align: center;
  font-size: 1.4rem;
  line-height: 2.1rem;

  @media (min-width: $width-tablet) {
    width: 25.6rem;
    box-sizing: border-box;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  @media (min-width: $width-desktop) {
    width: 40rem;
  }

  &--contrast {
    padding-top: 4rem;
    padding-bottom: 4rem;

    background-color: $color-primary;

    @media (min-width: $width-tablet) {
      padding-top: 4.5rem;
    }
  }

  &--accent {
    position: relative;

    padding: 2.7rem 3.6rem 2.8rem;

    background-color: $color-bg-accent;

    @media (min-width: $width-tablet) {
      padding: 4.5rem 4rem 4.3rem;
    }
  }

  &--thin {
    @media (min-width: $width-tablet) {
      padding-left: 5.35rem;
      padding-right: 5.35rem;
    }
  }
}

.advantages__number {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1.3rem;

  @media (min-width: $width-tablet) {
    margin-bottom: 2.1rem;
  }
}
