.contact {
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;

  background-color: $color-bg-default;

  @media (min-width: $width-tablet) {
    padding-top: 5.7rem;
    padding-bottom: 5.8rem;
  }
}

.contact__tagline {
  width: 26rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  font-size: 2.1rem;
  line-height: 2.6rem;

  @media (min-width: $width-tablet) {
    width: 45rem;
    margin-bottom: 3rem;

    font-size: 3rem;
  }
}

.contact__text {
  width: 27rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.2rem;

  font-size: 1.4rem;
  line-height: 2.4rem;

  @media (min-width: $width-tablet) {
    width: 45rem;
    margin-bottom: 4.1rem;
  }
}

.contact__text-brake {
  @media (min-width: $width-tablet) {
    display: block;
  }
}

.contact__button {
  width: 28rem;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $width-tablet) {
    width: 45.8rem;
  }
}
