.feedback {
  padding-top: 4rem;

  background-color: $color-bg-default;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  width: 28rem;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  @media (min-width: $width-desktop) {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}

.feedback__heading {
  width: 28rem;
  margin: 0 auto 2.5rem;

  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: center;

  @media (min-width: $width-tablet) {
    margin-left: 6rem;
    margin-right: 6rem;

    font-size: 3rem;
  }

  @media (min-width: $width-desktop) {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}

.feedback__text {
  width: 28rem;
  margin: 0 auto 1.7rem;

  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;

  @media (min-width: $width-tablet) {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  @media (min-width: $width-desktop) {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}

.feedback__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 0.7rem;
  padding: 0;

  border: none;

  @media (min-width: $width-tablet) {
    width: 100%;
  }

  &--half-width {
    @media (min-width: $width-tablet) {
      width: 50%;
    }
  }

  &--order-first {
    @media (min-width: $width-tablet) {
      order: -1;
    }
  }
}

.feedback__legend {
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.1rem;
  padding-top: 1.7rem;

  @media (min-width: $width-tablet) {
    font-size: 2.1rem;
  }
}

.feedback__label {
  width: 100%;
  margin-bottom: 2rem;

  font-size: 1.4rem;
  line-height: 2.6rem;

  &--radio,
  &--checkbox {
    font-size: 1.8rem;
  }

  &--name {
    display: flex;
    align-items: center;
  }

  &--contact {
    display: flex;
    flex-direction: column;
  }
}

.feedback__input {
  padding: 1.2rem 1.7rem;

  &--first-name {
    width: 23rem;
    margin-left: auto;
  }

  &--other-name {
    width: 19.4rem;
    margin-left: auto;
  }
}

.feedback__textarea {
  width: 100%;

  resize: none;
}

.feedback__input,
.feedback__textarea {
  box-sizing: border-box;

  font-size: 1.8rem;
  line-height: 2.6rem;
  color: $color-text-default;

  border: 0.4rem solid $color-bg-cards;
  background-color: $color-bg-cards;

  &:hover {
    background-color: $color-disabled;
    border-color: $color-disabled;
  }

  &:focus {
    background-color: $color-bg-default;
    border-color: $color-disabled;
  }

  &::placeholder {
    color: $color-text-default;

    opacity: 1;
  }
}

.feedback__required {
  display: none;

  @media (min-width: $width-tablet) {
    display: block;
    margin-left: auto;

    font-size: 1.4rem;
    line-height: 2.6rem;
  }
}
