.main-navigation {
  position: relative;

  display: flex;
  flex-direction: column;

  font-size: 1.8rem;

  background-color: $color-bg-default;

  @media (min-width: $width-tablet) {
    display: block;
    flex-direction: unset;

    font-size: 1.4rem;
  }
}

.main-navigation__list {
  position: relative;
  display: flex;
  flex-direction: column;
  order: 0;

  color: $color-text-contrast;

  background-color: $color-primary;

  @media (min-width: $width-tablet) {
    width: 76.8rem;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    order: unset;

    color: $color-text-default;

    background-color: transparent;
  }
}

.main-navigation__item {
  text-align: center;
  line-height: 4rem;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  &:first-of-type {
    border-top: none;
  }

  &:last-of-type {
    border-bottom: none;
  }

  @media (min-width: $width-tablet) {
    line-height: 2.6rem;

    border: none;

    &:nth-child(2) {
      margin-right: 15.6rem;
    }
  }
}

.main-navigation__link {
  display: block;
  padding: 0.7rem 0;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $color-primary-hover;

    @media (min-width: $width-tablet) {
      background-color: unset;
    }
  }

  &:hover {
    @media (min-width: $width-tablet) {
      color: $color-nav-hover;
    }
  }

  &:focus {
    @media (min-width: $width-tablet) {
      color: $color-nav-focus;
    }
  }

  &:active {
    background-color: $color-primary-down;
    color: rgba(255, 255, 255, 0.3);

    @media (min-width: $width-tablet) {
      background-color: unset;
      color: $color-nav-active;
    }
  }

  &:active:focus {
    @media (min-width: $width-tablet) {
      color: $color-nav-focus-active;
    }
  }

  &:hover:focus {
    @media (min-width: $width-tablet) {
      color: $color-nav-focus-hover;
    }
  }

  @media (min-width: $width-tablet) {
    width: 15.3rem;
    padding: 1.5rem 0;
  }
}

.main-navigation__logo {
  margin-left: auto;
  margin-right: auto;
  height: 5.7rem;
  order: 1;

  @media (min-width: $width-tablet) {
    position: absolute;
    top: 0;
    left: calc(50% - 10.2rem / 2);

    height: unset;
    order: unset;
  }
}

.main-navigation__button {
  position: absolute;
  right: 1.8rem;
  bottom: 1.8rem;
  z-index: 500;

  display: block;
  width: 2.3rem;
  height: 2.1rem;

  border: 0;
  background-color: transparent;
  background-image: url("../img/icon-menu.svg");
  background-size: 2.3rem 2.1rem;

  &--close {
    top: 1.7rem;

    height: 2.2rem;

    background-image: url("../img/icon-cross.svg");
    background-size: 2.3rem 2.2rem;
  }

  @media (min-width: $width-tablet) {
    display: none;
  }
}
