.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.7rem;

  background-color: $color-bg-default;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3.5rem;
  }
}

.main-footer__tagline {
  font-size: 2.1rem;
  line-height: 2.6rem;
  margin-bottom: 3.5rem;

  @media (min-width: $width-tablet) {
    margin-right: 11.5rem;
    margin-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    margin-right: 27.3rem;
  }
}

.main-footer__social {
  margin-bottom: 4rem;

  @media (min-width: $width-tablet) {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.main-footer__copyright {
  display: flex;
  align-items: normal;
  margin-bottom: 2.3rem;

  font-size: 1.4rem;
  line-height: 2.6rem;

  @media (min-width: $width-tablet) {
    margin-left: 11rem;
    margin-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    margin-left: 26.6rem;
  }
}

.main-footer__logo {
  margin-left: 1.2rem;

  line-height: 0;
  color: $color-text-default;
}

.main-footer__link {
  display: flex;
  align-items: center;
}

.main-footer__link:hover .main-footer__logo,
.main-footer__link:focus .main-footer__logo {
  color: $color-primary;
}

.main-footer__link:active .main-footer__logo {
  color: $color-text-default;

  opacity: 0.3;
}
