.main-navigation {
  font-size: 1.8rem;

  background-color: $color-bg-default;
}

.main-navigation__list {
  display: flex;
  flex-direction: column;

  background-color: $color-primary;
}

.main-navigation__item {
  text-align: center;
  line-height: 4rem;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  &:first-of-type {
    border-top: none;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.main-navigation__link {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
