.main-navigation {
  font-size: 1.8rem;

  background-color: $color-bg-default;
}

.main-navigation__list {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: $color-primary;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: space-between;

    color: $color-text-default;

    background-color: transparent;
  }
}

.main-navigation__item {
  text-align: center;
  line-height: 4rem;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $width-tablet) {
    border: none;
  }

  &:first-of-type {
    border-top: none;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.main-navigation__link {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.main-navigation__logo {
  @media (min-width: $width-tablet) {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
  }
}

.main-navigation__button {
  @media (min-width: $width-tablet) {
    display: none;
  }
}
