.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 32rem;

  background-color: $color-bg-default;
  box-shadow: 0 0.7rem 1.5rem 0 rgba(0, 1, 1, 0.15);

  transform: translate(-50%, -50%);

  @media (min-width: $width-tablet) {
    width: 64rem;
  }

  &--error {
    @media (min-width: $width-tablet) {
      width: 40rem;
    }
  }
}

.modal__heading {
  margin: 4.4rem auto 2.5rem;
  width: 22rem;

  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: center;

  @media (min-width: $width-tablet) {
    width: 41.5rem;
    margin-top: 6.4rem;
    margin-bottom: 2.9rem;

    font-size: 3rem;
  }

  &--error {
    @media (min-width: $width-tablet) {
      width: 25rem;
      margin-top: 5.6rem;
      margin-bottom: 2.3rem;

      line-height: 4rem;
    }
  }
}

.modal__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.4rem;
  width: 22rem;

  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;

  @media (min-width: $width-tablet) {
    width: 41.5rem;
  }

  &--error {
    margin-bottom: 2rem;

    @media (min-width: $width-tablet) {
      width: 27.7rem;
      margin-bottom: 3.2rem;
    }
  }
}

.modal__text-break {
  display: block;
}

.modal__bottom {
  padding: 2rem 0;

  background-color: $color-bg-cards;

  @media (min-width: $width-tablet) {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
  }
}

.modal__submit {
  width: 28rem;

  @media (min-width: $width-tablet) {
    width: 45.8rem;
  }

  &--smaller {
    font-size: 1.8rem;
  }

  &--error {
    width: 18rem;
    margin-bottom: 3.5rem;

    @media (min-width: $width-tablet) {
      width: 27.2rem;
      margin-bottom: 5rem;
    }
  }
}
