.photo {
  background-color: $color-bg-default;
}

.photo__feed {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photo__feed-item {
  &--first {
    @media (min-width: $width-tablet) {
      width: 100%;
    }
  }
}
