.photo-card {
  position: relative;

  padding-top: 2.3rem;
  padding-bottom: 1.7rem;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 1.7rem;

    background-color: $color-bg-cards;
  }

  @media (min-width: $width-desktop) {
    position: relative;

    display: block;
    padding-bottom: 0;
  }

  &--first {
    @media (min-width: $width-tablet) {
      width: 64.8rem;
    }

    @media (min-width: $width-desktop) {
      width: 120rem;
    }
  }

  &--accent {
    @media (min-width: $width-tablet) {
      background-color: $color-bg-cards-accent;
    }
  }

  @media (max-width: 767px) {
    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 50%;

      display: block;
      width: 100vw;
      height: 0.1rem;

      background-color: $color-border-cards;

      content: "";
      transform: translateX(-50%);
    }

    &::after {
      top: unset;
      bottom: -0.1rem;
    }
  }
}

.photo-card__heading {
  font-size: 1.4rem;
  line-height: 2.4rem;

  @media (min-width: $width-desktop) {
    color: $color-text-contrast;
  }
}

.photo-card__link {
  position: relative;

  display: block;
  width: 100%;
  margin-bottom: 1.5rem;

  line-height: 0;

  @media (min-width: $width-tablet) {
    max-width: 32.4rem;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
    max-width: 40rem;
  }

  &--first {
    @media (min-width: $width-tablet) {
      max-width: 64.8rem;
    }

    @media (min-width: $width-desktop) {
      max-width: 120rem;
    }
  }

  @media (min-width: $width-desktop) {
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 8rem;

      background-color: $color-text-default;

      content: "";
      opacity: 0.3;
    }
  }
}

.photo-card__text-wrap {
  display: block;

  @media (min-width: $width-tablet) {
    width: 19.9rem;
    margin-left: 2rem;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    bottom: 1.7rem;
    left: 2.2rem;

    margin: 0;
  }

  &--first {
    @media (min-width: $width-tablet) {
      width: 52.4rem;
    }
  }
}

.photo-card__text {
  font-size: 1.4rem;
  line-height: 2.4rem;

  @media (min-width: $width-desktop) {
    color: $color-text-contrast;
  }
}

.photo-card__likes {
  margin-top: 0.8rem;

  @media (min-width: $width-tablet) {
    margin: 1.3rem 2rem 0 auto;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    bottom: 2.7rem;
    right: 2.2rem;

    margin: 0;
  }
}
