.photo {
  padding-top: 3.8rem;

  background-color: $color-bg-default;

  @media (min-width: $width-tablet) {
    padding-top: 7.6rem;
  }
}

.photo__heading {
  width: 27rem;
  margin: 0 auto 2.5rem;

  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: center;

  @media (min-width: $width-tablet) {
    width: 64.8rem;
    margin-bottom: 2.9rem;

    font-size: 3rem;
  }

  @media (min-width: $width-desktop) {
    width: 120rem;
  }
}

.photo__text {
  width: 27rem;
  margin: 0 auto 2.2rem;

  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: center;

  @media (min-width: $width-tablet) {
    width: 64.8rem;
  }

  @media (min-width: $width-desktop) {
    width: 120rem;
  }
}

.photo__text-break {
  @media (min-width: $width-tablet) {
    display: block;
    margin-top: -0.3rem;
  }
}

.photo__feed {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 64.8rem;
    margin: 0 auto;
    padding-top: 4.6rem;
  }

  @media (min-width: $width-desktop) {
    width: 120rem;
  }
}

.photo__feed-item {
  @media (min-width: $width-tablet) {
    width: 32.4rem;
  }

  &--first {
    @media (min-width: $width-tablet) {
      width: 100%;
    }
  }
}
