.promo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 15.8rem;
  padding-top: 5rem;

  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;


  &--index {
    padding-top: 9rem;
    min-height: 38.9rem;

    background-size: cover;

    @media (min-width: $width-tablet) {
      padding-top: 7.7rem;
      min-height: 51.8rem;

      background-size: 100%, cover;
    }
  }

  @media (min-width: $width-tablet) {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
  }
}

.promo__image {
  width: 28.1rem;
  height: 21.4rem;

  @media (min-width: $width-tablet) {
    width: 46rem;
    height: 35rem;
  }
}
