.promo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 15.8rem;
  padding-top: 5rem;

  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;


  &--index {
    padding-top: 9rem;
    min-height: 38.9rem;

    background-position: center;
    background-size: cover;
  }
}
