$color-text-default: #000000;
$color-text-accent: #333333;
$color-text-contrast: #ffffff;
$color-bg-default: #ffffff;
$color-bg-accent: #efefef;
$color-bg-cards: #f2f2f2;
$color-primary: #81b3d2;

$font-default: "PT Sans", "Arial", sans-serif;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1200px;
