$color-text-default: #000000;
$color-text-accent: #333333;
$color-text-contrast: #ffffff;
$color-bg-default: #ffffff;
$color-bg-accent: #efefef;
$color-primary: #81b3d2;

$font-default: "PT Sans", "Arial", sans-serif;
