.video {
  padding-top: 3.4rem;
  padding-bottom: 4rem;
  text-align: center;

  background-color: $color-bg-default;
}

.video__tagline {
  width: 23.6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;

  font-size: 1.8rem;
  line-height: 2.6rem;

  @media (min-width: $width-tablet) {
    font-size: 3rem;
  }
}

.video__text {
  width: 23.6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5rem;

  font-size: 1.4rem;
  line-height: 2.4rem;
}

.video__player {
  margin-left: auto;
  margin-right: auto;
}
