.video {
  padding-top: 3.4rem;
  padding-bottom: 4rem;
  text-align: center;

  background-color: $color-bg-default;

  @media (min-width: $width-tablet) {
    padding-top: 6.8rem;
  }

  @media (min-width: $width-desktop) {
    padding-top: 7.2rem;
    padding-bottom: 8.6rem;
  }
}

.video__tagline {
  width: 23.6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;

  font-size: 1.8rem;
  line-height: 2.6rem;

  @media (min-width: $width-tablet) {
    width: 41.5rem;
    margin-bottom: 2.9rem;

    font-size: 3rem;
  }
}

.video__text {
  width: 23.6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5rem;

  font-size: 1.4rem;
  line-height: 2.4rem;

  @media (min-width: $width-tablet) {
    width: 41.5rem;
    margin-bottom: 7.3rem;
  }

  @media (min-width: $width-desktop) {
    width: 41.5rem;
    margin-bottom: 7.1rem;
  }
}

.video__player {
  margin-left: auto;
  margin-right: auto;
}
