$color-text-default: #000000;
$color-text-accent: #333333;
$color-text-contrast: #ffffff;
$color-bg-default: #ffffff;
$color-bg-accent: #efefef;
$color-bg-cards: #f2f2f2;
$color-primary: #81b3d2;
$color-primary-hover: #669ec0;
$color-primary-down: #5496bd;
$color-border: #e6e6e6;
$color-border-cards: #d2d2d2;
$color-disabled: #e5e5e5;
$color-active: #d5d5d5;

$font-default: "PT Sans", "Arial", sans-serif;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1200px;
